Options -MultiViews
RewriteEngine On

# Редирект /admin на /#/admin для HashRouter
RewriteRule ^admin/?$ /#/admin [R=302,L]

# Стандартное правило для SPA
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]